body {background-color: powderblue;
}

header{ 
    background-color: white;
    border: 1px solid black;
}
aside { display: inline-block;
	   width: 30%;
    height: 700px;
   background-color: white;
   box-sizing: content-box;
   overflow: hidden;

} 

section{ display: inline-block;
	height: 700px;
	width: 60%; 
	background-color: grey;
	box-sizing: content-box;
	overflow:hidden;
}

footer { 
 background-color: white;
 border: 1px solid black;
}
*{margin:0px;
padding: 0px;}
